   /* this controls the html document body*/
body {

    line-height: 50px;
    background: size 100%; 
} 
/* this conrols the h1 tag*/
h1{
    position: relative;
}


#links{
   float: right;
}

 /*this controls the links*/
 a {
    color: #284632;
    font-size: 20px;
    opacity: .8;
    text-decoration: none;
}
a:hover{
    color: #777777;
    text-decoration: none;
    font-size: 22px;
  

a:visited{
    /* color: #a58135; */
}

/*this controls the way the name looks at the top of the page*/
#name {
    background-color: #284632;
    color:#ffffff;
    width: 400px; /* changed this to px instead of %,hopefully this gets rid of it changing widths*/
    padding: 10px 20px 10px 20px;
    position: relative;  /*gotta get these into the header*/ 
    float: left;
    font-size: 35px;
    box-align: center;
    text-align: center;
    letter-spacing: 10px; 
}
 #container{
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    box-align: center;
    position: relative;
    overflow: auto;  
  
} 
/* this controls the about me, portfolio, and contact headings*/
.sectionTitle {
    color: #284632;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: solid 5px #dddddd;
    letter-spacing: 10px; 
    width: 890px;
}
/*this is for the about me page */
 /* bio image*/
#pic {
    width:260px;
    float:left;
}
/*what the writing looks like*/
 p{
    color: #777777;
    letter-spacing: 2px; 
    padding: 10px 50px;
}

/* this is for the profile page */
 .frame{
    height: 250px;
    width: 300px;
    float: left;
    display: flex;
}

 .frame:hover {
     opacity:.8;
}

.profilePicture{
    height:250px;
    width: 300px;
    z-index: 2;
}
h2{
    background: #284632;
    color: #ffffff;
    width: 300px;
    padding-top: 15px;
    text-align: center;
    float: left;
    z-index: 3; 
}
/* this is for the contact page */
button{
    background-color: #284632;
    color: #ffffff;
    font-size: 25px;
    opacity: 1;
}

button:hover{
    opacity: .8;   
}
.inputBoxes{
    width: 910px;
    font-size: 15px;
    color: #a58135;
}

h4{
     font-size: 22px;
    font-weight: 300;

 /*footer situation*/
 #footer{
    background-color: #284632;
    height: 100px;
    border-top: 5px solid #777777;  
    width: 100%;

}
 */
